.t4s-tabs-se .t4s-tabs-ul {
  margin-bottom: var(--tablist-mgb);
  font-family: var(--font-heading-family);
}
.t4s-tabs-se.t4s-tabs-inline .t4s-tabs-ul {
  margin-bottom: 0;
}
.t4s-tabs-se .t4s-text-start .t4s-tabs-ul {
  justify-content: flex-start;
}
.t4s-tabs-se .t4s-text-center .t4s-tabs-ul {
  justify-content: center;
}
.t4s-tabs-se .t4s-text-end .t4s-tabs-ul {
  justify-content: flex-end;
}
.t4s-tabs-se .t4s-tabs-ul {
  padding: 0;
}
.t4s-tabs-se .t4s-tabs-ul .flickityt4s-page-dots {
  margin-top: 10px;
}
.t4s-tabs-se .t4s-tabs-ul.t4s-dots-round-true .flickityt4s-page-dots .dot{
  border-radius: 100%;
}
.t4s-tabs-se.t4s-tabs-inline .t4s-tabs-ul {
  padding: 0;
}

.t4s-tabs-se .t4s-tabs-ul.t4s-flickity-slider .flickityt4s-button {
  color: var(--item-cl);
  width: 40px;
  height: 40px;
  margin: 0;
}
.t4s-tabs-se .t4s-tabs-ul .flickityt4s-prev-next-button.previous {
  left: 0 !important;
}
.t4s-tabs-se .t4s-tabs-ul .flickityt4s-prev-next-button.next {
  right: 0 !important;
}
.rtl_true .t4s-tabs-se .t4s-tabs-ul .flickityt4s-prev-next-button.previous {
  left: unset !important;
  right: 0 !important;
}
.rtl_true .t4s-tabs-se .t4s-tabs-ul .flickityt4s-prev-next-button.next {
  right: unset !important;
  left: 0 !important;
}

.t4s-tabs-bg-active
  .t4s-tabs-se
  .t4s-tabs-ul
  .flickityt4s-prev-next-button.previous {
  left: calc((-16px + -15px) / 2) !important;
  margin-inline-start: 0 !important;
}

.t4s-tabs-bg-active
  .t4s-tabs-se
  .t4s-tabs-ul
  .flickityt4s-prev-next-button.next {
  right: calc((-16px + -15px) / 2) !important;
  margin-inline-end: 0 !important;
}
.rtl_true
  .t4s-tabs-se
  .t4s-tabs-bg-active
  .t4s-tabs-ul
  .flickityt4s-prev-next-button.previous {
  right: calc((-16px + -15px) / 2) !important;
  left: unset !important;
}
.rtl_true
  .t4s-tabs-se
  .t4s-tabs-bg-active
  .t4s-tabs-ul
  .flickityt4s-prev-next-button.next {
  left: calc((-16px + -15px) / 2) !important;
  right: unset !important;
}

.t4s-tabs-se .t4s-tabs-ul li:not(:last-child) {
  margin-inline-end: var(--space-between);
}

.t4s-tabs-se .t4s-tabs-ul li a,
.t4s-tabs-dropdown .t4s-tabs-dropdown-nav {
  font-weight: var(--item-fw);
  font-size: var(--item-fs);
  line-height: var(--item-lh);
  min-height: var(--item-lh);
  letter-spacing: var(--item-ls);
  color: var(--pri-cl);
  position: relative;
  display: flex;
  align-items: center;
  max-width: 200px;
}
.t4s-tabs-se .t4s-tabs-ul li.t4s-has-img-title a {
  height: auto;
  line-height: 1;
}
.t4s-tabs-se .t4s-tabs-ul li.t4s-has-img-title a .t4s-text-title {
  display: block;
  line-height: var(--item-lh);
}
/* .t4s-tabs-se.t4s-tabs-border .t4s-tabs-ul li a {
  line-height: calc(var(--item-lh) - 4px);
} */
.t4s-tabs-se.t4s-tabs-bg-active .t4s-tabs-ul li a {
  line-height: calc(var(--item-lh) - 2px);
}
.t4s-tabs-se[style*="--item-lh:0px;"] .t4s-tabs-ul li a {
  line-height: 1;
}
.t4s-tabs-se.t4s-item-rounded-true.t4s-tabs-bg-active .t4s-tabs-ul li a {
  border-radius: calc(var(--item-lh) / 2);
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  vertical-align: top;
  max-width: 170px;
}
.t4s-tabs-se .t4s-tabs-ul li a.t4s-active {
  opacity: 1;
  color: var(--pri-active-cl);
}
.t4s-tabs-se .t4s-tabs-ul li a > span {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.t4s-tabs-se .t4s-tabs-ul li a .t4s-icon-title {
  font-size: 20px;
  margin-top: 10px;
}
.t4s-tabs-se .t4s-tabs-ul li a .t4s-icon-title,
.t4s-tabs-se .t4s-tabs-ul li a .t4s-image-title {
  width: var(--icon-width);
  height: var(--icon-width);
  font-size: var(--icon-width);
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
.t4s-tabs-se .t4s-tabs-ul li a .t4s-image-title {
  opacity: 0.5;
  margin-top: 15px;
}
.t4s-tabs-se .t4s-tabs-ul li a.t4s-active .t4s-image-title {
  opacity: 1;
}

.t4s-tabs-se .t4s-box-border-true:before {
  width: calc(100% - var(--ts-gutter-x) + 2px);
  border: 1px solid var(--border-color);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  position: absolute;
  pointer-events: none;
  content: "";
  z-index: 1;
}

.t4s-tabs-bg-active .t4s-tabs-ul li a {
  width: 200px;
  opacity: 1;
  text-align: center;
  align-items: center;
  justify-content: center;
  background-color: var(--secon-cl);
  position: relative;
}
.t4s-tabs-se[style*="--border: none;"] .t4s-tabs-bg-active .t4s-tabs-ul li a {
  border-width: 0;
}
.t4s-tabs-bg-active .t4s-tabs-ul li a.t4s-active {
  background-color: var(--pri-active-cl);
  color: var(--secon-active-cl);
}
.t4s-tabs-underline .t4s-tabs-ul li a::before {
  height: 2px;
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 0;
  transition: width 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.15);
  border-bottom: solid 2px var(--secon-active-cl);
}
.t4s-tabs-underline .t4s-tabs-ul .t4s-tab-item a.t4s-active::before {
  width: 100%;
}
.t4s-tabs-se.t4s-tabs-underline .t4s-tabs-ul li a .t4s-icon-title,
.t4s-tabs-se.t4s-tabs-underline .t4s-tabs-ul li a .t4s-image-title {
  margin-right: 0;
  margin-bottom: 5px;
}
.t4s-tabs-se.t4s-tabs-underline .t4s-tabs-ul li a > span {
  flex-direction: column;
}
/* .t4s-tabs-dropdown .t4s-tabs-head .t4s-tabs-head-inner {
  position: relative;
}
.t4s-tabs-dropdown .t4s-tabs-dropdown-nav {
  background-color: transparent;
  padding: 0 25px 0 0;
}
.t4s-tabs-dropdown .t4s-tabs-dropdown-nav > svg {
  right: 0;
}
.t4s-tabs-dropdown .t4s-dropdown__content {
  padding: 10px 0;
}
.t4s-tabs-dropdown .t4s-tabs-ul.t4s-dropdown__content li {
  display: block !important;
  margin-right: 0;
  margin-bottom: var(--space-between);
}
.t4s-tabs-dropdown .t4s-tabs-ul.t4s-dropdown__content li a {
    display: block;
    font-size: calc(var(--item-fs) * .65);
    height: auto;
    line-height: 1.4;
    padding: 5px 10px;
    color: var(--secon-cl);
    opacity: .8;
}
.t4s-tabs-dropdown .t4s-tabs-ul.t4s-dropdown__content li a {
    padding: 8px 10px;
    display: block;
    color: var(--secon-cl);
    opacity: .6;
    font-size: calc(var(--item-fs) * .68);
    line-height: 1.4;
    height: auto;
}
.t4s-tabs-dropdown .t4s-tabs-ul.t4s-dropdown__content li {
    display: block!important;
    margin-right: 0;
    margin-bottom: 0;
}
.t4s-tabs-dropdown .t4s-tabs-ul.t4s-dropdown__content li:first-child a {
    padding-top: 10px;
}
.t4s-tabs-dropdown .t4s-tabs-ul.t4s-dropdown__content li:last-child a {
    padding-bottom: 12px;
}
.t4sp-hover .t4s-tabs-dropdown .t4s-tabs-ul.t4s-dropdown__content li a:hover,
.t4s-tabs-dropdown .t4s-tabs-ul.t4s-dropdown__content li a.t4s-active {
    opacity: 1;
}
.t4s-tabs-dropdown .t4s-tabs-ul.t4s-dropdown__content li:last-child {
  margin: 0;
}
.t4s-tabs-dropdown .t4s-tabs-head .t4s-tabs-head-inner::after {
  width: 280px;
  height: 1px;
  border-bottom: var(--border) 1px var(--border-color);
  content: '';
  position: absolute;
  z-index: 1;
  left: 0;
  right: 0;
  margin:  auto;
  bottom: 0;
}
.t4s-tabs-dropdown .t4s-tabs-head .t4s-tabs-head-inner.t4s-text-start::after {
  right: auto;
}
.t4s-tabs-dropdown .t4s-tabs-head .t4s-tabs-head-inner.t4s-text-end::after {
  left: auto;
} */
/*Tab has top button*/
/* .t4s-tabs-head .t4s-tabs-head-inner {
  display: flex;
  align-items: center;
  margin-bottom: var(--tablist-mgb);
}
.t4s-tabs-head .t4s-tabs-ul {
  flex: 1 1 auto;
  width: 100%;
  margin-bottom: 0;
}
.t4s-tabs-head .t4s-tabs-head-btn {
  flex: 0 0 auto;
}
.t4s-tabs-head .t4s-tabs-head-btn a {
  margin: 0;
}
.t4s-tabs-head .t4s-tabs-head-btn a,
.t4s-tabs-head .t4s-tabs-head-btn a::before,
.t4s-tabs-head .t4s-tabs-head-btn a::after,
.t4s-pagination-wrapper .t4s-btn-base,
.t4s-pagination-wrapper .t4s-btn-base::before,
.t4s-pagination-wrapper .t4s-btn-base::after {
  border-radius: 0;
}
.t4s-tabs-end .t4s-tabs-head .t4s-tabs-head-inner {
  flex-direction: row-reverse;
}
.t4s-tabs-center .t4s-tabs-head .t4s-tabs-head-inner {
  flex-direction: column;
}
.t4s-tabs-center .t4s-tabs-head .t4s-tabs-ul {
  margin-bottom: 0;
}
.t4s-sec-head-btn-on .t4s-tabs-head .t4s-tabs-head-inner{
  display: flex;
  align-items: center;
  margin-bottom: var(--head-mgb);
  flex-direction: row;
  justify-content: space-between;
}
.t4s-sec-head-btn-on .t4s-head-btn {
  margin-bottom: var(--tophead-mb);
}
.t4s-sec-head-btn-on .t4s-tabs-head .t4s-tabs-head-inner > *,
.t4s-sec-head-btn-on .t4s-tabs-head .t4s-head-btn a {
    margin-bottom: 0;
}
.t4s-sec-head-btn-on .t4s-tabs-head .t4s-tabs-head-inner.t4s-text-center .t4s-left-btn,
.t4s-sec-head-btn-on .t4s-tabs-head .t4s-tabs-head-inner .t4s-text-center.t4s-left-btn {
  opacity: 0;
  visibility: hidden;
}
.t4s-sec-head-btn-on .t4s-tabs-head .t4s-tabs-head-inner.t4s-text-start .t4s-left-btn,
.t4s-sec-head-btn-on .t4s-tabs-head .t4s-tabs-head-inner.t4s-text-end .t4s-right-btn {
  display: none;
} */

/*Tab inline*/
.t4s-tabs-inline .t4s-tabs-head {
  display: flex;
  align-items: center;
  margin-bottom: var(--tablist-mgb) !important;
  flex-direction: row;
  flex-wrap: wrap;
}

.t4s-tabs-inline .t4s-tabs-head .t4s-top-heading {
  flex: 1 0 auto;
  margin-bottom: 0;
  margin-inline-end: 30px;
  display: flex;
  flex-direction: column;
  max-width: 50%;
}
.t4s-tabs-inline
  .t4s-tabs-head
  .t4s-top-heading:not(.t4s-has-section-des)
  .t4s-title {
  margin-bottom: 0;
}
.t4s-tabs-inline .t4s-tabs-head .t4s-tabs-head-inner {
  display: flex;
  align-items: center;
  flex: 1 1 auto;
  margin-bottom: 0;
}
.t4s-tabs-inline .t4s-tabs-head .t4s-tabs-ul {
  flex: 1 0 auto;
}
.t4s-tabs-inline .t4s-text-center .t4s-tabs-head {
  justify-content: center;
}
.t4s-tabs-inline .t4s-text-end .t4s-tabs-head {
  justify-content: space-between;
}
/* /*Tab list has border*/
/* .t4s-tabs-list-border-true .t4s-tabs-head-inner {
  position: relative;
}
.t4s-tabs-list-border-true .t4s-tabs-head-inner::after {
  position: absolute;
  z-index: 1;
  content: '';
  bottom: -5px;
  width: 100vw;
  height: 1px;
  background-color: var(--border-color);
}
.t4s-tabs-list-border-true .t4s-tabs-head-inner .t4s-tabs-ul {
  z-index: 3;
}
.t4s-tabs-underline.t4s-tabs-list-border-true .t4s-tabs-head-inner::after  {
  bottom: 2px;
}  */

.t4s-has-featured-items > .t4s-product:not(:first-child) {
  width: 25% !important;
  text-align: left;
}
.t4s-has-featured-items > .t4s-product:first-child {
  width: 50% !important;
}
.t4s-has-featured-items .t4s-pr-group .t4s-pr-group-img {
  width: 125px;
  flex: 125px 0 0;
}
.t4s-has-featured-items > .t4s-product:first-child .t4s-product-title {
  font-size: 18px;
  font-weight: 500;
}
.t4s-has-featured-items > .t4s-product:first-child .t4s-product-price {
  font-size: 16px;
  font-weight: 500;
}
.t4s-has-featured-items > .t4s-pr-style5:first-child:hover .t4s-product-info {
  bottom: 0;
}
.t4s-has-featured-items
  > .t4s-pr-style5:first-child
  .t4s-product-info
  .t4s-top-info,
.t4s-has-featured-items
  > .t4s-pr-style5:first-child
  .t4s-product-info
  .t4s-pr-group-variants
  .t4s-variants-info {
  padding: 0 15px 5px;
  margin-bottom: 0 !important;
}
.t4s-has-featured-items
  > .t4s-pr-style5:first-child
  .t4s-product-info
  .t4s-pr-group-variants
  .t4s-pr-group-variants-inner {
  padding: 12px 10px;
  color: var(--size-list-color2);
  background-color: var(--size-list-color);
  margin-bottom: 0;
}
.t4s-has-featured-items
  > .t4s-pr-style5:first-child
  .t4s-product-info
  .t4s-pr-group-sizes {
  padding: 5px 0;
  color: var(--size-list-color2);
  background-color: var(--size-list-color);
  margin-bottom: 0 !important;
  transition: 0.5s ease 0s;
  transform: translateY(100%);
}
/* tabs has dots */
.t4s-tabs-dot.tabs-layout-dot .t4s-tab-item {
  position: relative;
}
.t4s-tabs-dot.tabs-layout-dot .t4s-tab-item:not(:last-child)::after {
  position: absolute;
  content: "";
  top: 50%;
  transform: translateY(-50%);
  left: calc(100% + var(--space-between) / 2 - 5px / 2);
  width: 5px;
  height: 5px;
  background-color: var(--secon-cl);
  border-radius: 100%;
}
.tabs-layout-bg-active.t4s-tabs-se .t4s-tabs-ul:before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border: 1px solid #ffffff;
  border-bottom-width: 0;
  z-index: 1;
  pointer-events: none;
}
@media (max-width: 1024px) {
  .t4s-tabs-se.t4s-tabs-inline .t4s-tabs-ul {
    padding: 0 25px;
    overflow: hidden;
  }
  .t4s-tabs-dot.tabs-layout-dot .t4s-tab-item:not(:last-child)::after {
    left: calc(100% + var(--space-between-tb) / 2 - 5px / 2);
  }
  .tabs-layout-bg-active.t4s-tabs-se .t4s-tabs-ul:before {
    background: transparent;
    background: linear-gradient(
      90deg,
      rgba(255, 255, 255, 1) 0%,
      rgba(255, 255, 255, 0) 15%,
      rgba(255, 255, 255, 0) 85%,
      rgba(255, 255, 255, 1) 100%
    );
  }
  .tabs-layout-bg-active.t4s-tabs-se
    .t4s-tabs-ul.flickityt4s_prev_disable:before {
    background: linear-gradient(
      90deg,
      rgba(255, 255, 255, 1) 0%,
      rgba(255, 255, 255, 0) 0%,
      rgba(255, 255, 255, 0) 85%,
      rgba(255, 255, 255, 1) 100%
    );
  }
  .tabs-layout-bg-active.t4s-tabs-se
    .t4s-tabs-ul.flickityt4s_next_disable:before {
    background: linear-gradient(
      90deg,
      rgba(255, 255, 255, 1) 0%,
      rgba(255, 255, 255, 0) 15%,
      rgba(255, 255, 255, 0) 100%,
      rgba(255, 255, 255, 1) 100%
    );
  }
  .t4s-tabs-ul.t4s-tabs-icon_hide-true li a .t4s-icon-title {
    display: none;
  }

  .t4s-tabs-head .t4s-tabs-head-inner {
    margin-bottom: var(--tablist-mgb-tb);
  }
  .t4s-tabs-se .t4s-tabs-ul {
    margin-bottom: var(--tablist-mgb-tb);
  }
  .t4s-tabs-inline .t4s-tabs-head {
    margin-bottom: var(--tablist-mgb-tb) !important;
  }
  .t4s-tabs-head .t4s-tabs-head-btn {
    margin-top: var(--head-mgb-tb);
  }

  .t4s-sec-head-btn-on .t4s-tabs-head .t4s-tabs-head-inner {
    margin-bottom: var(--head-mgb-tb);
  }
  .t4s-tabs-se .t4s-tabs-ul li:not(:last-child) {
    margin-inline-end: var(--space-between-tb);
  }
  .t4s-tabs-inline .t4s-tabs-head .t4s-tabs-head-inner {
    margin-bottom: 0;
  }
  .t4s-has-featured-items > .t4s-product:not(:first-child) {
    width: 50% !important;
  }
  .t4s-has-featured-items > .t4s-pr-style5:first-child .t4s-product-info {
    bottom: 0;
  }
}
@media (max-width: 767px) {
  .t4s-tabs-inline .t4s-tabs-head .t4s-top-heading {
    max-width: 100%;
    width: 100%;
    margin-bottom: 15px;
    text-align: center;
  }
  .t4s-tabs-se .t4s-tabs-ul li a,
  .t4s-tabs-dropdown .t4s-tabs-dropdown-nav {
    font-size: var(--item-fs-mb);
    line-height: var(--item-lh-mb);
    min-height: var(--item-lh-mb);
    letter-spacing: var(--item-ls-mb);
  }
  .t4s-tabs-dot.tabs-layout-dot .t4s-tab-item:not(:last-child)::after {
    left: calc(100% + var(--space-between-mb) / 2 - 5px / 2);
  }
  .t4s-has-featured-items > .t4s-product:first-child {
    width: 100% !important;
  }
  .t4s-tabs-inline.t4s-tabs-underline .t4s-tabs-head {
    border: none;
  }
  .t4s-tabs-head .t4s-tabs-head-inner,
  .t4s-tabs-inline .t4s-tabs-head .t4s-tabs-head-inner {
    margin-bottom: var(--tablist-mgb-mb);
  }
  .t4s-tabs-se .t4s-tabs-ul {
    margin-bottom: var(--tablist-mgb-mb);
  }
  .t4s-tabs-inline .t4s-tabs-head {
    margin-bottom: var(--tablist-mgb-mb) !important;
  }
  .t4s-tabs-head .t4s-tabs-head-btn {
    margin-top: var(--head-mgb-mb);
  }
  .t4s-tabs-inline .t4s-tabs-head .t4s-top-heading {
    margin: 0 0 var(--tophead-mb-mb);
  }
  .t4s-sec-head-btn-on .t4s-tabs-head .t4s-tabs-head-inner {
    display: block;
    margin-bottom: var(--head-mgb-mb);
  }
  .t4s-tabs-se .t4s-tabs-ul li:not(:last-child) {
    margin-inline-end: var(--space-between-mb);
  }

  .t4s-tabs-inline .t4s-tabs-head {
    display: block;
  }

  .t4s-has-featured-items > .t4s-product:not(:first-child),
  .t4s-has-featured-items > .t4s-product:first-child {
    width: 100% !important;
  }
}
@media (-moz-touch-enabled: 0), (hover: hover) and (min-width: 1025px) {
  .t4s-tabs-se
    .t4s-tabs-ul.t4s-flickity-slider:not(:hover)
    .flickityt4s-button {
    -webkit-transform: translateX(0) translateY(-50%);
    -moz-transform: translateX(0) translateY(-50%);
    -ms-transform: translateX(0) translateY(-50%);
    -o-transform: translateX(0) translateY(-50%);
    transform: translate(0) translateY(-50%);
  }
  .t4s-tabs-se .t4s-tabs-ul.t4s-flickity-slider .flickityt4s-button:hover {
    color: var(--item-cl-active);
  }
  .t4s-tabs-se .t4s-tabs-ul li a:hover {
    opacity: 1;
    color: var(--pri-active-cl);
  }
  .t4s-tabs-se .t4s-tabs-ul li a:hover .t4s-image-title {
    opacity: 1;
  }
  .t4s-tabs-bg-active .t4s-tabs-ul li a:hover {
    background-color: var(--pri-active-cl);
    color: var(--secon-active-cl);
  }
}
